
body{
    background-image: url(img_weblek4upg1/showcase.jpg);
}

h1{
    background-color: yellow;
    color: blue;
    text-align: center;
    border: 2px solid black;
    margin-top: 10px;
    margin: 40;
    padding: 20px;
    padding-bottom: 10px;
    width: auto;
}

h2{
    text-align: center;    
}

.bild_text{
    border: 2px solid black;
background-color: gainsboro;
margin-top: 10px;
padding: 20px;
    margin: 30px;
    padding-bottom: 10px; 
}
.bild_text2{
    border: 2px solid black;
background-color: gainsboro; 
margin-top: 10px;
padding: 20px;
margin: 30px;
padding-bottom: 10px;
}
.bild_text3{
    border: 2px solid black;
background-color: gainsboro; 
margin-top: 10px;
padding: 20px;
margin: 30px;
padding-bottom: 10px;
}

.AllLogo{
    margin-top: 20px;
    text-align: center;
}